Language: Cpp
Standard: c++20

BasedOnStyle: llvm

PointerAlignment: Left

AccessModifierOffset: -4
# BreakConstructorInitializers: BeforeComma
# BreakBeforeParameter: EndsInComma
#ExperimentalAutoDetectBinPacking: true
ExperimentalAutoDetectBinPacking: true
Cpp11BracedListStyle: true
QualifierAlignment: Right

NamespaceIndentation: All

CommentPragmas: "^ q:"

ReflowComments: true

ColumnLimit: 100

AllowShortEnumsOnASingleLine: false

#BreakBeforeBraces: GNU
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true

# AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: false
AlignAfterOpenBracket: AlwaysBreak
LambdaBodyIndentation: Signature

BinPackArguments: false
BinPackParameters: false

AllowAllParametersOfDeclarationOnNextLine: false

AllowAllConstructorInitializersOnNextLine: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true

BreakInheritanceList: AfterColon

# ReturnTypeBreakingStyle: All
# ReturnTypeBreakingStyle: AllDefinitions
# BreakTemplateDeclarationsStyle: Yes

# breaks return type
AlwaysBreakAfterDefinitionReturnType: All  # This is deprecated.
AlwaysBreakAfterReturnType: All

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlwaysBreakTemplateDeclarations: true

BreakBeforeTernaryOperators: true

ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
UseTab: "Never"
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2

AllowAllArgumentsOnNextLine: true

FixNamespaceComments: true
AlignAfterOpenBracket: Align

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
# H2T: quant
  - Regex: "^(<quant/)"
    Priority: 10000
# Dependencies: B
  - Regex: "^(<boost/)"
    Priority: 10200
# Dependencies: D
  - Regex: "^(<doctest/)"
    Priority: 10400
# Dependencies: E
  - Regex: "^(<Eigen/)"
    Priority: 10500
# Dependencies: I
  - Regex: "^(<(Ice|IceUtil/))"
    Priority: 10900
# Dependencies: O
  - Regex: "^(<opencv2/)"
    Priority: 11500
# Dependencies: P
  - Regex: "^(<pcl/)"
    Priority: 11600
# Dependencies: Q
  - Regex: "^(<Q)"
    Priority: 11700
# Dependencies: S
  - Regex: "^<(ethercat|osal.h|osal_defs.h|nicdrv.h|oshw.h>)"
    Priority: 11900
# Linux
  - Regex: "^(<sys/)"
    Priority: 100100
# Posix
  - Regex: "^<(aio.h|arpa/inet.h|assert.h|complex.h|cpio.h|ctype.h|dirent.h|dlfcn.h|errno.h|fcntl.h|fenv.h|float.h|fmtmsg.h|fnmatch.h|ftw.h|glob.h|grp.h|iconv.h|inttypes.h|iso646.h|langinfo.h|libgen.h|limits.h|locale.h|math.h|monetary.h|mqueue.h|ndbm.h|net/if.h|netdb.h|netinet/in.h|netinet/tcp.h|nl_types.h|poll.h|pthread.h|pwd.h|regex.h|sched.h|search.h|semaphore.h|setjmp.h|signal.h|spawn.h|stdarg.h|stdbool.h|stddef.h|stdint.h|stdio.h|stdlib.h|string.h|strings.h|stropts.h|sys/ipc.h|sys/mman.h|sys/msg.h|sys/resource.h|sys/select.h|sys/sem.h|sys/shm.h|sys/socket.h|sys/stat.h|sys/statvfs.h|sys/time.h|sys/times.h|sys/types.h|sys/uio.h|sys/un.h|sys/utsname.h|sys/wait.h|syslog.h|tar.h|termios.h|tgmath.h|time.h|trace.h|ulimit.h|sys/resource.h|unistd.h|utime.h|utmpx.h|wchar.h|wctype.h|wordexp.h)>$"
    Priority: 100200
# C/C++ header
  - Regex: "^<(concepts|coroutine|any|bitset|chrono|compare|csetjmp|csignal|cstdarg|cstddef|cstdlib|ctime|functional|initializer_list|optional|source_location|stacktrace|tuple|type_traits|typeindex|typeinfo|utility|variant|version|memory|memory_resource|new|scoped_allocator|cfloat|cinttypes|climits|cstdint|limits|cassert|cerrno|exception|stdexcept|system_error|cctype|charconv|cstring|cuchar|cwchar|cwctype|format|string|string_view|array|deque|forward_list|list|map|queue|set|span|stack|unordered_map|unordered_set|vector|iterator|ranges|algorithm|execution|bit|cfenv|cmath|complex|numbers|numeric|random|ratio|valarray|clocale|codecvt|locale|cstdio|fstream|iomanip|ios|iosfwd|iostream|istream|ostream|spanstream|sstream|streambuf|strstream|syncstream|filesystem|regex|atomic|barrier|condition_variable|future|latch|mutex|semaphore|shared_mutex|stop_token|thread|experimental/.*)>$"
    Priority: 100300
# C header (deprecated in C++, should be replaced with <c...>-type headers
  - Regex: "^<(assert.h|ctype.h|errno.h|fenv.h|float.h|inttypes.h|limits.h|locale.h|math.h|setjmp.h|signal.h|stdarg.h|stddef.h|stdint.h|stdio.h|stdlib.h|string.h|time.h|uchar.h|wchar.h|wctype.h)>$"
    Priority: 100400

SeparateDefinitionBlocks: Always
